body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .centered-content {
    border: 1px solid white;
    padding: 20px; /* Adjust padding as needed */
  }
  a {
    color: white;
  }
  
  a:visited { /* these a css thingies set the hyperlinks to not use purple or blue coloring*/
    color:white;
  }
  a:hover {
    color:lightgray;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size:14px; /* decreases font size for mobile users */
    }
  }