body, html {
    height: 100%; /*positions our box thing*/
    width:100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(bkg.png);
    color:white;
    font-family: 'JetBrains Mono', monospace;
    line-height:1.5 ;
  }
  
  .centered-content /*this contains the border stuff*/ {
    border: 1px solid white;
    padding: 20px; 
    width:50%;
    background-color:black;
    width:var(screen);
  }

  a {/* these a css thingies set the hyperlinks to not use purple or blue coloring*/
    color: white;
  }
  
  a:visited { /* these a css thingies set the hyperlinks to not use purple or blue coloring*/
    color:white;
  }
  a:hover {/*this sets the hover color for hyperlinks bc why not?*/
    color:lightgray;
  }
/*mobile shit*/
@media only screen and (width > height) {
      .centered-content {
        
      }
      }
      body {
        
      }
    }

    


